.menumain {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    h2 {
        margin-left: 1.2em;
    }
    .coffeemenu {
        height: 60em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        &__item {
            height: 17em;
            width: 45%;
            margin: 1rem;
            padding: 1rem;
            line-height: 1.5em;
            h3 {
                margin-bottom: 1rem;
            }
            .iteminfo {
                display: flex;
                flex-direction: column;
                .infoline {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .imagebottom {
        background: url('/img/espresso-machine-detail.jpg') center center/cover no-repeat;
        height: 20rem;
        width: 100%;
        align-self: flex-start;
    }
}

.smallp {
    margin-top: 1rem;
    margin-bottom: rem;
}

.menuname {
    margin-top: 3rem;
}