.nav {
    background-color: $lightgrey;
    height: 10rem;
    &__overlay {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        &_logo {
            background: url(/img/logo.svg) center center/cover no-repeat;
            height: 8rem;
            width: 8rem;
        }
        &_list {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    list-style: none;
                    margin: 0 1rem;
                    a {
                        text-decoration: none;
                        font-size: 1.1rem;
                        color: rgb(112, 107, 107);
                        &:hover {
                            color: $darkgrey;
                        }
                    }
                }
            }
        }
    }
}