.nav {
    background-color: $lightgrey;
    height: 15vh;
    width: 100%;
    @media screen and (max-width: 500px) {
        height: 20vh;
    }
    &__overlay {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
        &_logo {
            background: url(/img/logo.svg) center center/cover no-repeat;
            height: 6rem;
            width: 6rem;
            @media screen and (max-width: 500px) {
                height: 3rem;
                width: 3rem;
            }
        }
        &_list {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 500px) {
                    flex-direction: column;
                }
                li {
                    list-style: none;
                    margin: 0 1rem;
                    a {
                        text-decoration: none;
                        font-size: 1.1rem;
                        color: rgb(112, 107, 107);
                        &:hover {
                            color: $darkgrey;
                        }
                    }
                }
            }
        }
    }
}