$darkgrey: #343a40;
<<<<<<< HEAD
$textgrey: 	#3d3d3d;
$lightgrey: #f3f3f3;
$blue: #87c2f4;


=======
$textgrey: #3d3d3d;
$lightgrey: #f3f3f3;
$blue: #87c2f4;
>>>>>>> 07a51a1d20cbf8713e49b8e16d4c98ff4f9371f2
