* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "_variables.scss";
@import "footer";
@import "nav";
@import "homepagemain";
.page-container {
    max-width: 1100px;
    margin: auto;
}