* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-container {
    max-width: 1100px;
    margin: auto;
}

@import "_variables.scss";
@import "footer";
@import "nav";
@import "homepagemain";
<<<<<<< HEAD
@import "_menu.scss";


.page-container {
    max-width: 1100px;
    margin: auto;
}
=======
@import "coffeepage";
>>>>>>> 07a51a1d20cbf8713e49b8e16d4c98ff4f9371f2
